# The homepage is hosted externally and redirects to this URL when accessed
# This environment variable stores the external homepage URL
HOMEPAGE_REMOTE_URL=https://understanding-assistant-316991.framer.app/page

# Switchboard GraphQL API URL
NEXT_PUBLIC_SWITCHBOARD_URL=https://switchboard.staging.vetra.io/graphql
